<div ng-include="'views/header.html'"></div>

<h2>About</h2>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <img src="../files/images/260010.png" alt="" />
        <h2>Restaurants</h2>
        <p>Are you hunger need phone of restaurants?</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260017.png" alt="" />
        <h2>Hotels</h2>
        <p>Are you tourists need phone of hotel?</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260011.png" alt="" />
        <h2>Institutions!</h2>
        <p>Here you can found phone about all Non/Government institutions in sudan</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <img src="../files/images/260205.png" alt="" />
        <h2>Do you have account ?</h2>
        <p>
            When you login into site you can add,edit phone list and even delete but you must login.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260217.png" alt="" />
        <h2>You don't have account!</h2>
        <p>OOPS you must create , let us create it , you can't use any of site feature</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260235.png" alt="" />
        <h2>Administrator ?</h2>
<p>More powerfull access.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 text-center">
        <img src="../files/images/260230.png" alt="" />
        <h2>Phone not found?</h2>
        <p>
            You can added.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260244.png" alt="" />
        <h2>Phone have worng data!</h2>
        <p>You can edit</p>
    </div>
    <div class="col-md-4 text-center">
        <img src="../files/images/260247.png" alt="" />
        <h2>Phone should't be in the list!</h2>
        <p>You can delete , you must log in.</p>
    </div>
</div>
